# Создаём style.css
cat > hw4/style.css << 'EOF'
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.imgchest.com/files/2f506b9851ac.jpeg") no-repeat;
  opacity: 0.5;
  background-position: center top;
}

.container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


.container > * {
  flex: 1 0 300px;
  height: 200px;
  background-color: lightblue;
  font-size: 10rem;
  color: blue;
  border: 2px dashed blue;
}
EOF
