* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.imgchest.com/files/2f506b9851ac.jpeg");
    background-repeat: no-repeat;
    background-size: 1400px auto;
    opacity: 0.5;
}

.container {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.container > * {
    flex-basis: 420px;
    flex-grow: 1;
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
