* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1250px;
  position: relative;
  font-family: Arial, sans-serif;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1250px;
  z-index: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1250px;
  height: 706px;
  z-index: 2;

  display: grid;

  grid-template-columns: 225px 650px 375px;
  grid-template-rows: 32px 95px 80px 335px 50px 310px;

  grid-template-areas:
    "box1 box1 box7"
    "box2 box8 box9"
    "box3 box3 box3"
    "box4 box4 box4"
    "box5 box5 box5"
    "box6 box6 box6";
}

.box {
  border: 2px dotted red;
  color: red;
  font-size: 28px;
  font-weight: normal;
  background: transparent;
  line-height: 1;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
}